*{
    padding: 20;
    margin: 20;
    box-sizing: border-box;
}
nav{
    box-shadow: 0 0 30px red;
}
ul{
    list-style-type:none;
}
ul li{
    display:inline-block;
}
ul li a{
    color:palegoldenrod;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    background:black;
    padding: 10px;
    display: inline-block;
    transition: 0.5;
    position: relative;
    
}
ul li a:hover{
    background: red;
    color:azure;
    transition: 0.7;
}

ul li ul{
    background:white;
    position: absolute;
    display: none;

}

ul li:hover ul{
    display: block;
}
ul li ul li{
    display: block;
}
